<% css = local_assigns[:form_group_css] ?  form_group_css : "col pull-right" %>

<div class="form-group <%= css %>">
  <%= f.submit t('.', :default => t("global.continue")), class: "journey-plans-submit-button"  %>
</div>
