<% content_for :page_title, create_title('global.401_unauthorized.heading') + " (#{response.status})" %>

<%= yield :error_header %>

<header>
  <h1 style="font-size: 48px; font-weight:bold; margin-top:30px; margin-bottom:15px;">
    <%=t 'global.401_unauthorized.heading'%>
  </h1>
</header>

<p style="max-width: 30em;"><%= t 'global.401_unauthorized.message1' %></p>

<p style="max-width: 30em;"><%=t 'global.401_unauthorized.message2'%></p>
