
<fieldset>

  <%= f.label :name, t(".label"), class: 'form-label' %>
  <% if I18n.exists?( "shared.organisation_name.hint") %>
    <span class="form-hint"><%= t(".hint") %></span>
  <% end %>
  <%= f.text_field :name, class: 'form-control form-control-char-50' %>

</fieldset>

