<header class="text">
  <h1 class="form-title heading-large" id="groupLabel">Question 2</h1>
</header>

<fieldset>
    <%= f.label :field_value, "Please enter name", class: 'form-label' %>
    <%= f.text_field :field_value, class: 'form-control form-control-char-50' %>
</fieldset>

