# Shim to load environment variables from .env into ENV
# We use dotenv to manage anything that is likely to change between deployment environments–such as resource handles
# for databases or credentials for external services

# -------------
#  Database Settings
# -------------

DSJ_DB_USERNAME=[DEV]
DSJ_DB_PASSWORD=DEV

DSJ_DB_HOST=localhost
DSJ_DB_PORT=5432
