<%= render 'datashift_state/shared/errors', form: form %>

<% state = form.journey_plan.state %>

<% url = local_assigns[:form_url] ? form_url : datashift_state.edit_journey_plan_path %>
<% method = local_assigns[:form_method] ? form_method : :post %>

<%= form_for form,
             as: state,
             url: url,
             method: method, class: 'form' do |f| %>

    <%= render  journey_plan_partial_location(state), form: form, f: f %>

    <div class="form-group">
      <%= f.submit submit_button_text(form), class: "button"  %>
    </div>
<% end %>
